header {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}
.header-nav {
  padding: 31px 40px;
  align-items: center;
}
.header-nav-group {
  width: 33.333%
}
.header-nav-link {
  font-weight: 600;
  margin-left: 43px;
}
.header-nav-link:first-child {
  margin-left: 0;
}
.header-nav-link--icon {
  &-location {
    &::before {
      background-image: url('https://cdn.shopify.com/s/files/1/2613/6868/files/Location.svg?v=1633112489');
      left: -25px;
      bottom: 2px;
    }
  }
}
.header-nav-link--icon {
  position: relative;
  &::after, &::before {
    content: '';
    height: 18px;
    width: 18px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 5px;
  }
  &-search {
    &::after {
      background-image: url('https://cdn.shopify.com/s/files/1/2613/6868/files/Search.svg?v=1633111747');
    }
  }
  &-account {
    &::after {
      background-image: url('https://cdn.shopify.com/s/files/1/2613/6868/files/Account.svg?v=1633111726');
    }
  }
  &-cart {
    &::after {
      background-image: url('https://cdn.shopify.com/s/files/1/2613/6868/files/Cart.svg?v=1633111726');
    }
  }
}