//Colors
$black: #000;
$white: #fff;
$font-main: #222;
$grey: #636363;

// Fonts
$type_base: "Roboto", sans-serif;
$type_header: "Palanquin", sans-serif;
$type_header_weight: 400;
$type_header_spacing: 0.03em;
$type_base_spacing: 0.03em;
$type_header_line_height: 1.4;
$type_header_base_size: (32 / 16);
$type_base_size: 16px;
$type_base_size_sm: 12px;
$type_base_line_height: 1.6;